@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Mono" , Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @on_surface;
}

tooltip {
  background: @surface_container_high;
  border: 1px solid @outline_variant;
  border-radius: 8px;
  padding: 4px 8px;
}

tooltip label {
  color: @on_surface;
}

/* === WORKSPACES === */
#workspaces {
  background-color: @surface_container;
  color: @on_surface;
  margin: 5px;
  border-radius: 12px;
  padding: 2px 4px;
}

#workspaces button {
  margin: 2px;
  padding: 0 8px;
  border-radius: 8px;
  border: none;
}

#workspaces button.active {
  background: @secondary_container;
  color: @on_secondary_container;
  box-shadow: 0 0 2px 2px alpha(@primary, 0.6);
}

#workspaces button.urgent {
  background: @error_container;
  color: @on_error_container;
}

#workspaces button:hover {
  background: @surface_variant;
  color: @on_surface;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* === WIDGETS === */
#clock,
#battery,
#network,
#mpris,
#pulseaudio,
#tray {
  padding: 4px 12px;
  margin: 5px 2px;
  border-radius: 10px;
  background-color: @surface_container;
  color: @on_surface_variant;
}

#mpris {
  color: @secondary;
}

#clock {
  background-color: @secondary_container;
  color: @on_secondary_container;
  font-weight: 600;
}

#battery {
  color: @secondary;
}

#network {
  color: @secondary;
}

#pulseaudio {
  color: @secondary;
}

#tray {
  padding: 4px 10px;
  color: @on_surface;
}
