@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono NF", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

tooltip {
    background: @surface_container_high;
    border: 1px solid @outline_variant;
    border-radius: 8px;
    padding: 4px 8px;
}

tooltip label {
    color: @on_surface;
}
/* === WORKSPACES === */
#workspaces {}

#workspaces button {
    padding: 0 4px 0 12px;
    margin: 5px 2px;
    border-radius: 16px;
    background-color: @on_primary;
    color: @primary;
    transition: all 0.3s ease;
    border: 1px solid @primary;
}

#workspaces button.active {
    background-color: @primary;
    color: @background;
    border: 1px solid @background;
    box-shadow: 0 0 1px alpha(@primary,
    0.2),
    0 0 2px alpha(@primary,
    0.4),
    0 0 3px alpha(@primary,
    0.6);
    font-weight: 800;
}

#workspaces button.urgent {
    background-color: @error;
    color: @background;
    animation: urgent-blink 1s ease-in-out infinite;
}

#workspaces .taskbar-window {}

@keyframes urgent-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}
/* === WIDGETS === */
#custom-music,
#clock,
#battery,
#bluetooth,
#network,
#mpris,
#pulseaudio,
#backlight,
#window,
#tray {
    padding: 2px 6px;
    margin: 5px 2px;
    border-radius: 16px;
    color: @background;
    background: @primary;
    border: 1px solid @background;
}

#image {
}

#clock {
    font-weight: 800;
    padding: 0px 10px;
}

#battery {}

#network {}

#pulseaudio {}

#mpris {
    font-weight: 700;
}

#tray {}

#custom-music {
    background-color: @on_primary;
    color: @primary;
    padding: 0px 16px;
}

#custom-music.playing {
  color: @primary;
}

#custom-music.paused {
  color: @secondary_container;
}

